POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=ganti-password-postgres

N8N_PORT=5678
N8N_HOST=localhost
N8N_PROTOCOL=http
N8N_EDITOR_BASE_URL=http://localhost:5678
WEBHOOK_URL=http://localhost:5678/
N8N_ENCRYPTION_KEY=gkjfsdhfj87356jndbsf874y5hjbdfs8927345jbdf398257hjfsbf834

N8N_BASIC_AUTH_ACTIVE=false
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=ganti-password-basic-auth

GENERIC_TIMEZONE=Asia/Jakarta
TZ=Asia/Jakarta

OPENAI_API_KEY=
OPENAI_CAPTION_MODEL=gpt-5.4-mini
OPENAI_CAPTION_LANGUAGE=id
OPENAI_CAPTION_BRAND_VOICE=ringkas, tajam, natural, tidak clickbait murahan
OPENAI_CAPTION_MAX_HASHTAGS=3

YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REFRESH_TOKEN=
YOUTUBE_PRIVACY_STATUS=private
YOUTUBE_CATEGORY_ID=22
YOUTUBE_NOTIFY_SUBSCRIBERS=false
YOUTUBE_SELF_DECLARED_MADE_FOR_KIDS=false
YOUTUBE_ALLOW_PUBLISH_WITHOUT_APPROVAL=true
YOUTUBE_TITLE_SUFFIX=
YOUTUBE_DESCRIPTION_FOOTER=

TIKTOK_ACCOUNT_NAME=
TIKTOK_PRIVACY_LEVEL=public
TIKTOK_ALLOW_PUBLISH_WITHOUT_APPROVAL=true
